!!!
%html
  %head
    %title RubyCordobaWebSite
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    = if user_signed_in?
      = current_user.email
      = link_to "Sign Out", destroy_user_session_url, :method => :delete

    #flashes
      - flash.each do |name, message|
        %div{id: name}
          %strong= message

    = yield
